body {
  padding: 0;
  margin: 0;
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
}

h1 {
  background-color: var(--card-background-color);
  box-shadow: var(--card-box-shadow);
  padding: .5em;
  margin: 0;
}

#drop-zone {
  border: 5px dashed;
  border-radius: 30px;
  transition: border-color 0.2s ease-in-out;
  display: grid;
  place-items: center;
  margin: 1rem;
}

#file, #img {
  margin: 1rem auto;
}

#drop-zone .hover-text {
  display: none;
}
#drop-zone .default-text {
  display: revert;
}
#drop-zone .default-text p {
  margin: 0;
}

#drop-zone.hover {
  border-color: var(--primary);
}

#drop-zone.hover .hover-text {
  display: revert;
}

#drop-zone.hover .default-text {
  display: none;
}
