body {
  padding: 0;
  margin: 0;
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
}

h1 {
  padding: .5em;
  margin: 0;
}


#file, #img, #drop-zone {
  margin: 0 1em 1em 1em;
  display: grid;
  place-items: center;
}

#drop-zone {
  border: 5px dashed #ccc;
  border-radius: 30px;
}

#drop-zone .hover-text {
  display: none;
}
#drop-zone .default-text {
  display: revert;
}
#drop-zone .default-text p {
  margin: 0;
}

#drop-zone.hover {
  border-color: blue;
}

#drop-zone.hover .hover-text {
  display: revert;
}

#drop-zone.hover .default-text {
  display: none;
}
