{{ define "layout" }}
<!DOCTYPE html>
<html>
  <head>
    <title>{{ template "title" . }}</title>
    <script type="text/javascript" src="static/app.js"></script>
    <link rel="stylesheet" href="static/pico.min.css">
    <link rel="stylesheet" href="static/style.css" />
    {{ if .Plausible }}
      <script defer data-domain="{{ .Plausible }}" src="https://plausible.io/js/plausible.js"></script>
    {{ end }}

    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ block "meta" . }}{{ end }}
  </head>
  <body>
    {{ template "body" . }}
  </body>
</html>
{{ end }}
