name: Deploy Review App
permissions:
  contents: read
  pull-requests: read
on:
  pull_request:
    types: [opened, reopened, synchronize, closed]

env:
  FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
  FLY_ORG: personal

jobs:
  deploy:
    runs-on: ubuntu-latest
    outputs:
      url: ${{ steps.deploy.outputs.url }}
    concurrency:
      group: pr-${{ github.event.number }}

    environment:
      name: review
      url: ${{ steps.deploy.outputs.url }}

    steps:
      - name: Get code
        uses: actions/checkout@v6

      - name: Deploy PR app to Fly.io
        id: deploy
        uses: superfly/fly-pr-review-apps@1.5.0
        with:
          secrets: KEY=${{ secrets.KEY }} SECRET=${{ secrets.SECRET }} BUCKET=${{ secrets.BUCKET }} USERNAME=${{ secrets.USERNAME }} PASSWORD=${{ secrets.PASSWORD }}
